<div class="card">
    <div class="flex justify-content-end align-items-center mb-4">
        <p-button label="Rimuovi filtri ricerca" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(imgs)"
            class="mr-3" />

        <!-- Barra di ricerca -->
        <div class="p-input-icon-right mr-3">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Cerca..." [(ngModel)]="searchValue"
                (input)="imgs.filterGlobal((searchValue || '').toString(), 'contains')">
        </div>

        <!-- Pulsante Carica un'immagine -->
        <p-button (onClick)="showDialog()" label="Carica un'immagine" icon="pi pi-plus-circle" size="small"
            severity="success"></p-button>
    </div>

    <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <ng-template pTemplate="headless" let-message>
            <div class="flex flex-column align-items-center p-6 surface-overlay border-round">
                <h3 class="mb-5">Scegli un'immagine e una descrizione</h3>

                <!-- Sezione form upload -->
                <form (ngSubmit)="onUpload()" #uploadForm="ngForm" class="w-full">
                    <div class="p-field mb-5">
                        <div class="flex align-items-center gap-3 mb-3">
                            <label for="file" class="mb-0">Upload file</label>
                            <input type="file" id="file" (change)="onFileSelected($event)" hidden #fileInput>
                            <p-button label="Scegli il file" icon="pi pi-upload" (onClick)="fileInput.click()"
                                class="p-button-outlined w-8rem" size="small"></p-button>
                        </div>
                        <span *ngIf="selectedFile" class="mt-3 d-block">{{ selectedFile.name }}</span>
                    </div>

                    <div class="p-field mb-5">
                        <label for="descrizione" class="mb-3">Descrizione</label>
                        <textarea id="descrizione" [(ngModel)]="descrizione" name="descrizione" class="w-full p-2"
                            placeholder="Descrizione dell'immagine" required rows="5"></textarea>
                    </div>

                    <!-- Sezione Bottoni -->
                    <div class="flex align-items-center gap-3 mt-5 justify-content-center">
                        <p-button label="Annulla" (onClick)="hideDialog()" class="p-button-outlined w-8rem"></p-button>
                        <p-button type="submit" label="Carica immagine" class="w-8rem"
                            [disabled]="!selectedFile || !descrizione"></p-button>
                    </div>
                </form>
            </div>
        </ng-template>
    </p-dialog>

    <p-table #imgs [value]="immagini" [tableStyle]="{'min-width': '60rem'}" class="mt-5" [rows]="5"
    [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
    [globalFilterFields]="['nome', 'descrizione', 'dimensione', 'dataCreazione']">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:15%">
                <p style="color: rgb(0,210,255);">Preview</p>
            </th>
            <th pSortableColumn="nome" style="width:15%">
                <p style="color: rgb(0,210,255);">Nome <p-sortIcon field="nome" /></p>
            </th>
            <th pSortableColumn="descrizione" style="width:30%">
                <p style="color: rgb(0,210,255);">Descrizione <p-sortIcon field="descrizione" /></p>
            </th>
            <th pSortableColumn="dimensione" style="width:15%">
                <p style="color: rgb(0,210,255);">Dimensione <p-sortIcon field="dimensione" /></p>
            </th>
            <th pSortableColumn="dataCreazione" style="width:15%">
                <p style="color: rgb(0,210,255);">Data Creazione <p-sortIcon field="dataCreazione" /></p>
            </th>
            <th style="width:10%">
                <p style="color: rgb(0,210,255);">Azioni</p>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-immagine>
        <tr>
            <!-- Sezione dell'immagine con anteprima -->
            <td>
                <div class="preview-container" (click)="toggleFullPreview(immagine)">
                    <img [src]="getImmagineUrl(immagine.gridFsId)" alt="Preview" class="preview-image">
                </div>
                <p class="tooltip-text">(Clicca sopra col<br>mouse per ingrandire)</p>
            </td>
            <td>{{ immagine.nome }}</td>
            <td [pTooltip]="immagine.descrizione" tooltipPosition="top" class="description-cell">
                {{ immagine.descrizione }}
            </td>
            <td>{{ immagine.dimensione }} bytes</td>
            <td>{{ immagine.dataCreazione | date:'short' }}</td>
            <td class="button-container">
                <p-button icon="pi pi-download" class="p-button-rounded p-button-outlined p-button-sm mr-2"
                    (onClick)="downloadImage(immagine)" severity="secondary"></p-button>
                <p-button icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-sm"
                    (onClick)="deleteImage(immagine)" severity="danger"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>

<!-- Immagine ingrandita a schermo intero con bottone di chiusura -->
<p-dialog [(visible)]="fullPreviewVisible" [modal]="true" [style]="{ width: 'auto' }" [closable]="false">
    <ng-template pTemplate="content">
        <button class="close-button" (click)="closeFullPreview()">Chiudi (×)</button>
        <div class="full-preview-container">
            <img [src]="selectedImageUrl" alt="Full Preview" class="full-preview">
        </div>
    </ng-template>
</p-dialog>
