<app-navbar></app-navbar>
<div class="about-container">
    <p-card styleClass="p-shadow-3 p-card-dark">
        <ng-template pTemplate="header">
            <h2>About Us</h2>
        </ng-template>
        <ng-template pTemplate="content">
            <pre>
                ....................../´¯¯/)
                ...................../´¯¯/)
                ...................,/¯.../
                .................../..../
                .............../´¯/'..'/´¯¯`·¸
                ............/'/.../..../....../¨¯\
                ..........('(....´...´... ¯~/'..')
                ...........\..............'...../
                ............\....\.........._.·´
                .............\..............(
                ..............\..............\
                </pre>  
        </ng-template>
    </p-card>
</div>
