<app-navbar></app-navbar>
<div class="about-container">
    <p-card styleClass="p-shadow-3 p-card-dark">
        <ng-template pTemplate="header">
            <h2>About Us</h2>
        </ng-template>
        <ng-template pTemplate="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt nunc ac finibus aliquet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ornare a urna vel feugiat. Donec sed odio odio. Donec dolor quam, convallis sed sodales ut, auctor eget magna. Donec pulvinar, lorem id interdum finibus, libero erat mollis tellus, ut vehicula lorem quam sit amet nibh. Nunc volutpat pulvinar lorem, ut tempus lacus egestas ac. Ut cursus gravida odio, et venenatis velit tempor quis. Fusce sit amet purus vitae eros luctus porta at ac ligula. Vivamus lacus quam, vulputate vitae felis vel, congue cursus eros. Morbi molestie sit amet risus sed imperdiet. Nulla pharetra semper massa, et maximus ligula malesuada sit amet. Praesent sollicitudin velit at malesuada blandit. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </ng-template>
    </p-card>
</div>
