<app-navbar></app-navbar>
<div class="register-container">
    <p-card>
        <ng-template pTemplate="header">
            <h2>Registrazione</h2>
        </ng-template>
        <ng-template pTemplate="content">
            <form (ngSubmit)="onSubmit(registerForm.value)" [formGroup]="registerForm">
                <div class="p-field">
                    <label for="username">Username</label>
                    <input id="username" type="text" pInputText formControlName="username" />
                    <small class="p-error" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                        Username è richiesto.
                    </small>
                </div>
                <div class="p-field">
                    <label for="password">Password</label>
                    <input id="password" type="password" pInputText formControlName="password" />
                    <small class="p-error" *ngIf="registerForm.get('password')?.errors?.['pattern'] && registerForm.get('password')?.touched">
                        Password deve contenere almeno 8 caratteri, inclusi almeno 1 lettera maiuscola, 1 numero e 1 carattere speciale.
                    </small>
                </div>
                <div class="p-field">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" pInputText formControlName="nome" />
                    <small class="p-error" *ngIf="registerForm.get('nome')?.invalid && registerForm.get('nome')?.touched">
                        Nome è richiesto.
                    </small>
                </div>
                <div class="p-field">
                    <label for="email">Email</label>
                    <input id="email" type="email" pInputText formControlName="email" />
                    <small class="p-error" *ngIf="registerForm.get('email')?.errors?.['pattern'] && registerForm.get('email')?.touched">
                        Inserisci un'email
                    </small>
                </div>
                <p-button label="Registrati" icon="pi pi-user-plus" type="submit" [disabled]="registerForm.invalid"></p-button>
            </form>
        </ng-template>
    </p-card>
</div>
