<app-navbar></app-navbar>
<div class="p-d-flex p-flex-column p-ai-center p-mt-4 home-container">
    <h1 class="p-text-center p-mb-5">Benvenuto nel Tuo Cloud Storage</h1>

    <p-card header="Cosa Puoi Fare" styleClass="p-shadow-3 p-p-4 p-mb-5 p-card-dark">
        <div class="p-grid p-justify-center p-mt-4 p-cards-container">
            <div class="p-col-12 p-md-6 p-lg-4 p-p-3">
                <p-card title="Immagini" class="p-shadow-2">
                    <p>Carica, gestisci e visualizza tutte le tue immagini. Che si tratti di foto di famiglia, lavori artistici o snapshot importanti, puoi tenerli tutti in un unico posto sicuro e facilmente accessibile.</p>
                    <i class="pi pi-image p-mt-3 p-icon"></i>
                </p-card>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4 p-p-3">
                <p-card title="Video" class="p-shadow-2">
                    <p>Salva i tuoi video preferiti o professionali con facilità. Che si tratti di video di eventi, tutorial o progetti video, il nostro cloud storage ha spazio per tutto.</p>
                    <i class="pi pi-video p-mt-3 p-icon"></i>
                </p-card>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4 p-p-3">
                <p-card title="Progetti (ZIP)" class="p-shadow-2">
                    <p>Archivia i tuoi progetti compressi in formato ZIP. Mantieni tutti i tuoi file di progetto organizzati e accessibili quando ne hai bisogno, senza preoccuparti della perdita di dati.</p>
                    <i class="pi pi-folder-open p-mt-3 p-icon"></i>
                </p-card>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4 p-p-3">
                <p-card title="File Personali" class="p-shadow-2">
                    <p>Proteggi i tuoi file personali con il nostro sistema sicuro. Carica documenti, appunti e file riservati sapendo che sono protetti e accessibili solo da te.</p>
                    <i class="pi pi-lock p-mt-3 p-icon"></i>
                </p-card>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4 p-p-3">
                <p-card title="Messaggi di Testo" class="p-shadow-2">
                    <p>Archivia e gestisci i tuoi messaggi di testo importanti. Conserva le conversazioni e i messaggi cruciali per riferimento futuro in un formato sicuro e organizzato.</p>
                    <i class="pi pi-comment p-mt-3 p-icon"></i>
                </p-card>
            </div>
        </div>
    </p-card>
</div>
