<app-navbar></app-navbar>
<div class="contact-container">
    <p-card styleClass="p-card-dark p-shadow-3">
        <ng-template pTemplate="header">
            <h2>Contact Us</h2>
        </ng-template>
        <ng-template pTemplate="content">
            <pre>
                ....................../´¯¯/)
                ...................../´¯¯/)
                ...................,/¯.../
                .................../..../
                .............../´¯/'..'/´¯¯`·¸
                ............/'/.../..../....../¨¯\
                ..........('(....´...´... ¯~/'..')
                ...........\..............'...../
                ............\....\.........._.·´
                .............\..............(
                ..............\..............\
                </pre>                
        </ng-template>
    </p-card>
</div>
